.message {
    color: #1976d2;
    font-size: 60px;
    position: static;
    display: flex;
    align-items: center;
    margin: 80px;

}

.message::before
{
    content: url('../../assets/images/404.jpg');
    margin-right: 40px;
}
