<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
  <h2>Parking Zone: A ({{ total }})</h2>
  <h1 >
  <button
    mat-raised-button
    color="primary"
    [matBadge]="agreed"
    matBadgePosition="before"
    matBadgeColor="accent"
  >
    Occupied
  </button>
  </h1>
  <h1>
  <button
    mat-raised-button
    color="primary"
    [matBadge]="total - agreed"
    matBadgePosition="before"
    matBadgeColor="accent"
  >
    Available
  </button>
  </h1>
  <button mat-fab routerLink="/lessons-list">lessons-list</button>
</div>

<div
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxLayoutGap="32px grid"
  style="width: 70vw;"
>
  <ispace-voter
    *ngFor="let voter of voters"
    [total]="total"
    [agreed]="agreed"
    [name]="voter"
    (voted)="onVoted($event)"
  >
  </ispace-voter>
</div>
<div>
    <button mat-raised-button (click)="openDialog()">Pick one</button>

</div>
