<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header fxLayout="column">
      <mat-panel-title class="panel-header">
        Scroll to learn more
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section fxLayout="column" fxLayoutGap="0.1" fxLayoutAlign="center center">
        <mat-card class="example-card">
            <mat-card-content>
              <div fxLayout="row" fxLayoutAlign="space-between center">
              <div class="smart-city">
                  <img src='./../../assets/images/smart-city.png' class="md-card-image" alt="image caption"/>
              </div>
              <div class="smart-city-desc">
                <p *ngFor="let content of fillerContent">{{ content }}</p>
              </div>
              </div>
            </mat-card-content>
          </mat-card>
      </section>
  </mat-expansion-panel>
</mat-accordion>
