<div fxLayout="column" fxLayoutAlign="start center">
  <div
    fxLayout="column"
    fxLayoutAlign="space-between center"
    class="home-backdrop"
  >
    <img
      src="./../../assets/images/home.png"
      class="md-card-image"
      alt="image caption"
    />
  </div>
  <ispace-more-links></ispace-more-links>
  <section
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="0.1"
    fxLayoutAlign="center center"
  >
    <ispace-card [cardInput]="'features'"></ispace-card>
    <ispace-card [cardInput]="'highlights'"></ispace-card>
    <ispace-card [cardInput]="'rules'"></ispace-card>
  </section>
  <!-- <section fxLayout="row" fxLayoutGap="0.1" fxLayoutAlign=" center">
        <p *ngFor="let content of fillerContent">{{ content }}</p>
      </section> -->
</div>
