.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  p {
    padding: 15px;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Droid+Serif');

body {background: #CCC; font-family: 'Droid Serif', serif; color:#000;}
a   {text-decoration:none; color:#000;}

svg{z-index:-1;}

.alert{display:none;}

.js-mindmap-active a.node {
    background: #fff ;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    padding: 2rem;
}
.js-mindmap-active a.node.active {
    font-size:2rem;
    margin-left: -2rem;
    margin-top: -2rem;
}
.js-mindmap-active a.node.activeparent {
    padding:5px 10px !important;
    border-width:5px !important;
    background:#cccccc;
}


/*
.js-mindmap-active a.node {
background:red;
border: 2px solid white;
-webkit-border-radius: 60px;
-moz-border-radius: 60px;
border-radius: 60px;
width: 120px;
height: 60px;
padding: 30px 0px;
text-align:center;
}
.js-mindmap-active a.node.active {
border-width:5px !important;
}
.js-mindmap-active a.node.activeparent {
border-width:5px !important;
background:#8B0000;
}

*/
.js-mindmap-active .node.orange {
  background:#f89a3a; 
}
.js-mindmap-active .node.green {
  background:#92c63d; 
}
.js-mindmap-active .node.blue {
  background:#4688c2; 
}
.js-mindmap-active .node.purple {
  background:#6b5ba6; 
}
.js-mindmap-active .node.red {
  background:#c64d44; 
}

.alert {
   		padding: 20px;
   		background-color: red;
   		color: white;
	}

	.closebtn {
   		margin-left: 15px;
   		color: white;
   		font-weight: bold;
   		float: right;
   		font-size: 22px;
   		line-height: 20px;
   		cursor: pointer;
   		transition: 0.3s;
	}

	.closebtn:hover {
   		color: black;
	}