.example-container {
  display: flex;
  flex-direction: column;
  width: 50vW;
}

.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
  margin-top: 40px;
}

.example-container form > * {
  margin: 15px 0;
}

.mat-card {
  background: e6e6e6;
}
.mat-card-content {
  padding: 25px;
}
.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-container .mat-checkbox {
  margin: 0 12px;
}

.example-container .mat-card-actions {
  margin: 20px 12px;
}


